<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/index.css" />
        <title>Pong</title>
    </head>
    <body>
        <script>
        window.onerror = function(msg, url, linenumber) {
            alert('Error message: '+msg+'\nURL: '+url+'\nLine Number: '+linenumber);
            return true;
        }
        window.onload = function() {
            var maingame = new Game({
                "left": 0,
                "right": 100,
                "top": 100,
                "bottom": 0
            });
            var allballs = [new Ball("ball", 90, 50, 0.2, 0.4, maingame, "img"),new Ball("ball2", 90, 50, 0.3, 1, maingame, "img"),new Ball("ball3", 50, 50, 0.05, 0.9, maingame, "img"),new Ball("ball4", 90, 50, -0.6, 0.6, maingame, "img"),new Ball("ball5", 50, 50, 0.5, 0, maingame, "img")];
            var allplayers = [new Player("left","player1", 0, 50, 0, 0, maingame, "img")];

            maingame.bouncers.push(new Wall({"topleft": [100, 0], "bottomright": [0, 0]}))


            allplayers.forEach(player => {
                maingame.players.push(player);
            })

            setInterval(function () {
                allballs.forEach(ball => {
                    ball.bounce();
                    ball.move();
                });
                allplayers.forEach(player => {
                    player.showscore();
                });
            }, 1);
            alert(JSON.stringify(document.body.getElementsByTagName("*"), null, 4));
        }

        class StaticGameObject{
            constructor(hitbox){
                this.hitbox = new Bouncer(hitbox);
            }
        }

        class Wall extends StaticGameObject {}

        class DynamicGameObject{
                constructor(id, x,y, xvelocity, yvelocity, game, elemtype){
                    this.elem = document.createElement(elemtype);
                    document.body.appendChild(this.elem);
                    
                    this.elem.id = id
                    this.id=id;
                    this.x=x;
                    this.y=y;
                    this.xvelocity=xvelocity;
                    this.yvelocity=yvelocity;
                    this.game=game;
                    this.bouncer = new Bouncer({"topleft": [this.x, this.y], "bottomright": [this.x+this.elem.style.width, this.y-this.elem.style.height]})
                }
                move(){
                    //alert(this.elem.src);
                    this.x+=this.xvelocity;
                    this.elem.style.left = this.x+"%";
                    this.y+=this.yvelocity;                    
                    this.elem.style.bottom = this.y+"%";
                }
            }

            class Ball extends DynamicGameObject{
                constructor(...args){
                    super(...args);
                    this.elem.style.position = "absolute";
                    this.elem.style.left = this.x+"%";
                    this.elem.style.bottom =this.y+"%";
                    this.elem.classList.add("ball");
                    this.elem.src = "static/ball/ball1.png";
                }

                bounce(){
                    this.game.bouncers.forEach(bouncer => {
                        if (this.bouncer.isthistouching(bouncer)) {
                            this.game.touchevent(this, bouncer);
                            this.xvelocity *= -1;
                            this.x = 50;
                            this.yvelocity *= -1;
                            this.y = 50;
                            return true;
                        }
                        return false;
                    });
                }
            }

            class Player extends DynamicGameObject{
                constructor(goalside, ...args){
                    super(...args);

                    this.score = 0;
                    this.elem.style.position = "absolute";
                    this.elem.style.left = this.x+"%";
                    this.elem.style.bottom =this.y+"%";
                    this.elem.classList.add("player");
                    this.elem.src = "static/player/player1.png";

                    this.scorelabel = document.createElement('p');
                    this.scorelabel.classList.add("scorelabel");
                    document.body.appendChild(this.scorelabel);
                }

                showscore() {
                    this.scorelabel.innerText = "Score: " + this.score;
                }

                touched(gameobject) {
                    alert("touched called");
                    if (typeof gameobject == "Ball") {
                        this.score++
                    }
                }
            }


            class Bouncer{
                constructor(hitbox) {
                    this.hitbox = hitbox
                    //hitbox example
                    //{
                        //"topleft": [x, y],
                        //"bottomright": [x,y] 
                    //}
                }
                FindPoint(x1, y1, x2, y2, x, y) {
                    if (x > x1 && x < x2 && y > y1 && y < y2) return true;
                    return false;
                }
                isthistouching(bouncer){
                    alert("isthistouching called");
                    if (FindPoint(...bouncer.hitbox.topleft, ...bouncer.hitbox.bottomright, ...this.hitbox.topleft) || FindPoint(...bouncer.hitbox.topleft, ...bouncer.hitbox.bottomright, ...this.hitbox.topleft)) {
                        return true;}
                    return false;
                }
            }

            class Game{
                constructor(borders){
                    this.borders=borders;
                    this.players=[]
                    this.bouncers = [];
                }
                gameover(){
                    alert("game over")
                }
                touchevent(gameobject, obstacle){
                    obstacle.touched(gameobject)
                    this.players.forEach(player => {
                        if (player.goalside === side) {
                            player.score++
                        }
                    });
                }
            }
        </script>
    </body>
</html>