<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/index.css" />
        <title>Pong</title>
    </head>
    <body>
        <script>
        window.onerror = function(msg, url, linenumber) {
            alert('Error message: '+msg+'\nURL: '+url+'\nLine Number: '+linenumber);
            return true;
        }
        window.onload = function() {
            function keyDown(event){
                //alert(event.keyCode);
                if (event.keyCode == 87){
                    allplayers[0].yvelocity += 0.2;
                } else if (event.keyCode == 83) {
                    allplayers[0].yvelocity -= 0.2;
                }
            }

            document.body.addEventListener('keydown', keyDown);
        
            var maingame = new Game({
                "left": 0,
                "right": 100,
                "top": 100,
                "bottom": 0
            });
            var allballs = [new Ball("ball", 50, 50, 0.2, 0.03, maingame, "img")];
            var allplayers = [new Player("player1", 10, 47.5, 0, 0, maingame, "img"), new AIPlayer("player2", 88, 47.5, 0, 0, maingame, "img")];

            maingame.bouncers.push(new Wall({"topleft": [100, 100], "bottomright": [150, 0]}, allplayers[0]), new Obstacle({"topleft": [0, 0], "bottomright": [100, -50]}), new Obstacle({"topleft": [0, 150], "bottomright": [100, 100]}), new Wall({"topleft": [-50, 100], "bottomright": [0, 0]}, allplayers[1]), ...allplayers)

            maingame.allballs = allballs;
            maingame.allplayers = allplayers;

            //console.log(maingame.bouncers)

            allplayers.forEach(player => {
                maingame.players.push(player);
            })

            setInterval(function () {
                allballs.forEach(ball => {
                    ball.bounce();
                    ball.move();
                });
                allplayers.forEach(player => {
                    player.move();
                    //player.bounce();
                    player.showscore();
                });
            }, 1);
        }

        class StaticGameObject{
            constructor(hitbox){
                this.bouncer = new Bouncer(hitbox);
            }
            touched(){}
        }

        class Obstacle extends StaticGameObject{
            constructor(hitbox){
                super(hitbox);
            }   
        }

        class Wall extends StaticGameObject {
            constructor(hitbox, goalplayer = undefined, player = undefined) {
                super(hitbox);
                this.player = player;
                this.goalplayer = goalplayer;
            }
            touched(touchedby) {
                if (Ball.prototype.isPrototypeOf(touchedby)) {
                    if (this.goalplayer !== undefined) {
                        this.goalplayer.score++
                    }
                }
            }
        }

        class DynamicGameObject{
                constructor(id, x,y, xvelocity, yvelocity, game, elemtype, elemclass){
                    this.elem = document.createElement(elemtype);
                    document.body.appendChild(this.elem);
                    this.elem.classList.add(elemclass);
                    
                    this.elem.id = id
                    this.id=id;
                    this.x=x;
                    this.y=y;
                    this.xvelocity=xvelocity;
                    this.yvelocity=yvelocity;
                    this.game=game;

                    this.bouncer = new Bouncer({"topleft": [this.x, this.y], "bottomright": [parseInt(this.x+this.elem.style.width), parseInt(this.y-this.elem.style.height)]})
                }
                move(){

                    //alert(this.elem.src);
                    this.x+=this.xvelocity;
                    this.elem.style.left = this.x+"%";
                    this.y+=this.yvelocity;                    
                    this.elem.style.bottom = this.y+"%";

                    //update bouncer
                    this.bouncer.hitbox['topleft'][0] += this.xvelocity;
                    this.bouncer.hitbox['topleft'][1] += this.yvelocity;
                    this.bouncer.hitbox['bottomright'][0] += this.xvelocity;
                    this.bouncer.hitbox['bottomright'][1] += this.yvelocity;
                }
            }

            class Ball extends DynamicGameObject{
                constructor(...args){
                    super(...args, "ball");
                    this.elem.style.position = "absolute";
                    this.elem.style.left = this.x+"%";
                    this.elem.style.bottom =this.y+"%";
                    this.elem.src = "static/ball/ball1.png";

                    this.bouncer = new Bouncer({"topleft": [this.x, this.y+2], "bottomright": [this.x+2, this.y]})
                }

                bounce(){
                    console.log(this.xvelocity);
                    this.game.bouncers.forEach(bouncer => {
                        if (this.bouncer.isthistouching(bouncer.bouncer)) {
                            this.game.touchevent(this, bouncer);

                            //this.yvelocity *= -1;
                            
                            if (Player.prototype.isPrototypeOf(bouncer)) {
                                this.yvelocity += bouncer.yvelocity;
                            }


                            if (Wall.prototype.isPrototypeOf(bouncer)){
                                //this.yvelocity *= -1;
                                this.reset();
                            }

                            if (Obstacle.prototype.isPrototypeOf(bouncer)){
                                this.yvelocity *= -1;
                                //this.reset();
                            } else {
                                this.xvelocity *= -1.03;
                            }

                            return true;
                        }
                        return false;
                    });
                }

                reset(){
                    this.x = 50;
                    this.y = 50;
                    this.xvelocity = 0.2;
                    this.yvelocity = Math.random()/8;
                    this.bouncer.hitbox['topleft'][0] = this.x;
                    this.bouncer.hitbox['topleft'][1] = this.y-2;
                    this.bouncer.hitbox['bottomright'][0] = this.x+2;
                    this.bouncer.hitbox['bottomright'][1] = this.y;
                }
            }

            class Player extends DynamicGameObject{
                constructor(...args){
                    super(...args, "player");

                    this.score = 0;
                    this.elem.style.position = "absolute";
                    this.elem.style.left = this.x+"%";
                    this.elem.style.bottom =this.y+"%";
                    this.elem.src = "static/player/player1.png";

                    this.scorelabel = document.createElement('p');
                    this.scorelabel.classList.add("scorelabel");
                    document.body.appendChild(this.scorelabel);

                    this.bouncer = new Bouncer({"topleft": [this.x, this.y+23], "bottomright": [this.x+2.5, this.y]})
                }

                bounce(){
                    this.game.bouncers.forEach(bouncer => {
                        if (this.bouncer.isthistouching(bouncer.bouncer)) {
                            this.game.touchevent(this, bouncer);

                            this.xvelocity = 0;
                            this.yvelocity = 0;

                            return true;
                        }
                        return false;
                    });
                }

                showscore() {
                    this.scorelabel.innerText = "Score: " + this.score;
                }

                touched(gameobject) {
                    //alert("touched called in player");
                }
            }

            class AIPlayer extends Player{
                move() {
                    if (this.y+10 == this.game.allballs[0].y) {
                        this.yvelocity = 0;
                    } else if (this.y+10 < this.game.allballs[0].y) {
                        this.yvelocity = 0.06;
                    } else {
                        this.yvelocity = -0.06;
                    }
                    this.y+=this.yvelocity;                    
                    this.elem.style.bottom = this.y+"%";

                    //update bouncer
                    this.bouncer.hitbox['topleft'][0] += this.xvelocity;
                    this.bouncer.hitbox['topleft'][1] += this.yvelocity;
                    this.bouncer.hitbox['bottomright'][0] += this.xvelocity;
                    this.bouncer.hitbox['bottomright'][1] += this.yvelocity;
                }
            }


            class Bouncer{
                constructor(hitbox) {
                    this.hitbox = hitbox
                    //hitbox example
                    //{
                        //"topleft": [x, y],
                        //"bottomright": [x,y] 
                    //}
                }
                FindPoint(x1, y1, x2, y2, x, y) {
                    if (x > x1) {
                        if (x < x2) {
                            if (y > y2) {
                                if (y < y1) {
                                    return true;
                                }
                            }
                        }
                    }
                    return false;
                    
                }
                isthistouching(bouncer){
                    //console.log(JSON.stringify(bouncer));
                    //console.log(bouncer.hitbox['topleft']);
                    //console.log(this.hitbox['topleft']);
                    if (this.FindPoint(...bouncer.hitbox['topleft'], ...bouncer.hitbox['bottomright'], ...this.hitbox['topleft']) || this.FindPoint(...bouncer.hitbox['topleft'], ...bouncer.hitbox['bottomright'], ...this.hitbox['topleft'])) {
                        return true;}
                    return false;
                }
            }

            class Game{
                constructor(borders){
                    this.borders=borders;
                    this.players=[]
                    this.bouncers = [];
                }
                gameover(){
                    alert("game over")
                }
                touchevent(gameobject, obstacle){
                    obstacle.touched(gameobject);
                    //gameobject.touched(obstacle);
                }
            }
        </script>
    </body>
</html>