<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/index.css" />
        <title>Pong</title>
    </head>
    <body>
        <p>
            Directions: Press w to move faster up, and s to move faster down. First player to 5 points wins the game. Have fun!
        </p>
        <button onclick="window.location.href = '/pong';"> start </button>
    </body>
</html>